.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(174, 205, 240);
}
.inner{
    display: flex;
    flex-direction: column;
    background-color: azure;
    height: auto;
    width: 300px;
    padding:30px ;
    border-radius:30px;
}

.image{
    height: auto;
    width: auto;
    border-radius: 25px;
}